@charset "UTF-8";

body {
    background-color: rgb(86, 206, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkblue;
    
}
h2 {
    color: blue;
}
p {
    text-align: justify;
}